@model FilterProductViewModel

@{ 
	//var wishChecked = "false";
	//var wishSource = "";
	//int[] wishproductIds = new int[Model.Products.Count];
	//int counter = 0;
	//int counter1 = 0;

	var wishproductIds = Model.WishedProductsIds;

}

<div class="filter-shop clearfix">
	<p class="showing-product float-right">
		Showing  @(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + 1) – @(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + (Model.Products.Count < Model.Pager.PageSize ? Model.Products.Count : Model.Pager.PageSize)) of @Model.Pager.TotalItems Products
	</p>
</div><!-- /.filte-shop -->

<div id="productsDiv" class="product-content product-threecolumn product-slidebar clearfix">
	<ul class="product style2 sd1">
		@foreach (var product in Model.Products)
			{

				var image = product.Imagepath != null ? product.Imagepath : @"/Content/images/Default/DefaultImage.png";

				//wishChecked = product.Wishlist.Count > 0 ? true : false;

				//wishSource = wishChecked ? @"/Content/images/Default/heart fill.png" : @"/Content/images/Default/unfill heart.png";

				//var wishProducts = product.Wishlist.Where(w => w.UserID == Model.UserId).ToList(); //firstorDefault karo

				//var userWished = wishProducts.Where(w => w.UserID == Model.UserId).FirstOrDefault();

				//var UserWishedProducts = Model.WishedProducts.ToList();

					if(wishproductIds != null && wishproductIds.Contains(product.ID))
					{
		<li class="product-item">
			<div class="product-thumb clearfix">
				<a href="@Url.Action("Details","Product", new { Id = product.ID })">
					<img src="@image" alt="image">
				</a>
				<span class="new">New</span>
			</div>
			<div class="product-info clearfix">
				<span class="product-title">
					@product.Name
				</span>
				<div class="price">
					<ins>
						<span class="amount">
							$ @product.Price
						</span>
					</ins>
				</div>
			</div>
			<div class="add-to-cart text-center">
				<a class="productAddToCart" data-id="@product.ID">ADD TO CART</a>
			</div>

			@*for displaying Remove From Cart if Prodct is in the Cart
		<script>
		$(function () {
			debugger;
			console.log(this);
			var productId =  @product.ID; //$(".productAddToCart").attr("data-id");

			var products;

			var existingCartProducts = $.cookie('CartProducts');

			if (existingCartProducts != null && existingCartProducts != "" && existingCartProducts != undefined) {
				products = existingCartProducts.split('-');
			}
			else {
				products = [];
			}
			var element = $(".productAddToCart");
			for (var i = 0; i < products.length; i++) {

				if (productId == products[i]) {
					console.log(element.attr("data-id"));
					var isCart = true;
					if (productId == element.attr("data-id")) {
						 $(element).text("Remove From Cart");
					$(element).attr("data-cart", "true");
					console.log("Id found and work done");
					}
				}
			}
			if (isCart == undefined) {
				if (productId == element.attr("data-id")) {
					$(element).attr("data-cart", "false");
					}
			}



		});
		</script>*@

			<a class="like">
				<img src="/Content/images/Default/heart fill.png" height="30" width="30" class="addToWishlist" data-id="@product.ID" data-wish="true" />
			</a>
			@*<a class="like"><i class="removeFromWishlist" data-id="@product.ID">&#10084;&#65039;</i></a*@
		</li>
					

				}
				else
				{
	<li class="product-item">
		<div class="product-thumb clearfix">
			<a href="@Url.Action("Details","Product", new { Id = product.ID })">
				<img src="@image" alt="image">
			</a>
			<span class="new">New</span>
		</div>
		<div class="product-info clearfix">
			<span class="product-title">
				@product.Name
			</span>
			<div class="price">
				<ins>
					<span class="amount">
						$ @product.Price
					</span>
				</ins>
			</div>
		</div>
		<div class="add-to-cart text-center">
			<a class="productAddToCart" data-id="@product.ID">ADD TO CART</a>
		</div>
		@*for displaying Remove From Cart if Prodct is in the Cart
		<script>
			$(function () {
				debugger;
				console.log(this);
				var productId =  @product.ID; //$(".productAddToCart").attr("data-id");

				var products;

				var existingCartProducts = $.cookie('CartProducts');

				if (existingCartProducts != null && existingCartProducts != "" && existingCartProducts != undefined) {
					products = existingCartProducts.split('-');
				}
				else {
					products = [];
				}
				var element = $(".productAddToCart");
				for (var i = 0; i < products.length; i++) {

					if (productId == products[i]) {
						var isCart = true;
						if (productId == element.attr("data-id")) {
							 $(element).text("Remove From Cart");
						$(element).attr("data-cart", "true");
						console.log("Id found and work done");
						}
					}
				}
				if (isCart == undefined) {
					if (productId == element.attr("data-id")) {
						$(element).attr("data-cart", "false");
						}
				}



			});
		</script>*@
		<a class="like">
			<img src="/Content/images/Default/unfill heart.png" height="30" width="30" class="addToWishlist" data-id="@product.ID" data-wish="false" />
		</a>
		@*<a class="like"><i class="removeFromWishlist" data-id="@product.ID">&#10084;&#65039;</i></a*@
	</li>
				}
			


			//var wishProducts = product.Wishlist.FirstOrDefault(); //firstorDefault karo
			//var wish = false;

			//if (wishProducts == null)
			//{
			//	wish = false;
			//}
			//else
			//{

			//}
			//var wish = userWished != null ? true : false;

			//foreach (var wishItem in wish)
			//{
			@*if (wish)
			{
				//wishproductIds[counter] = wishItem.ProductId;
				//wishSource = @"/Content/images/Default/heart fill.png";
				//wishChecked = "true";
				<li class="product-item">
					<div class="product-thumb clearfix">
						<a href="#">
							<img src="@image" alt="image">
						</a>
						<span class="new">New</span>
					</div>
					<div class="product-info clearfix">
						<span class="product-title">
							@product.Name
						</span>
						<div class="price">
							<ins>
								<span class="amount">
									$ @product.Price
								</span>
							</ins>
						</div>
					</div>
					<div class="add-to-cart text-center">
						<a class="productAddToCart" data-id="@product.ID">ADD TO CART</a>
					</div>
					<a class="like">
						<img src="/Content/images/Default/heart fill.png" height="30" width="30" class="addToWishlist" data-id="@product.ID" data-wish="true" />
					</a>
					@*<a class="like"><i class="removeFromWishlist" data-id="@product.ID">&#10084;&#65039;</i></a
				</li>

			}
			else
			{
				//if (wishItem.ProductId != wishproductIds[counter1])
				//{
				//wishSource = @"/Content/images/Default/unfill heart.png";
				//wishChecked = "false";
				<li class="product-item">
					<div class="product-thumb clearfix">
						<a href="#">
							<img src="@image" alt="image">
						</a>
						<span class="new">New</span>
					</div>
					<div class="product-info clearfix">
						<span class="product-title">
							@product.Name
						</span>
						<div class="price">
							<ins>
								<span class="amount">
									$ @product.Price
								</span>
							</ins>
						</div>
					</div>
					<div class="add-to-cart text-center">
						<a class="productAddToCart" data-id="@product.ID">ADD TO CART</a>
					</div>
					<a class="like">
						<img src="/Content/images/Default/unfill heart.png" height="30" width="30" class="addToWishlist" data-id="@product.ID" data-wish="false" />
					</a>
					@*<a class="like"><i class="removeFromWishlist" data-id="@product.ID">&#10084;&#65039;</i></a
				</li>
			*@
			//}
		}
		
		
	</ul><!-- /.product -->
</div><!-- /.product-content -->
@*@@if (Model.Pager != null && Model.Pager.TotalPages > 1)
{
<div class="product-pagination text-center clearfix">
	<ul class="flat-pagination">

		@if (Model.Pager.CurrentPage > 1)
		{
			<li class="prev">
				<a data-href="@Url.Action("FilterProducts", "Shop", new { pageNo = Model.Pager.CurrentPage - 1, sortBy = Model.SortBy, categoryID = Model.CategoryID})" class="Pagedata-link"><i class="fa fa-angle-left"></i></a>
			</li>
			<li><a data-href="@Url.Action("FilterProducts", "Shop", new { pageNo = 1 , sortBy = Model.SortBy, categoryID = Model.CategoryID})" class="Pagedata-link">1</a></li>
		}

		@for (int page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
		{
			string activeClass = Model.Pager.CurrentPage == page ? "bg-info" : string.Empty;

			<li class="@activeClass"><a data-href="@Url.Action("FilterProducts", "Shop", new { pageNo = page , sortBy = Model.SortBy, categoryID = Model.CategoryID})" class="Pagedata-link" title="">@page</a></li>

		}

		@if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
		{
			<li><a data-href="@Url.Action("FilterProducts", "Shop", new { pageNo = Model.Pager.CurrentPage + 1, sortBy = Model.SortBy, categoryID = Model.CategoryID })" class="Pagedata-link"><i class="fa fa-angle-right"></i></a></li>
			<li><a data-href="@Url.Action("FilterProducts", "Shop", new { pageNo = Model.Pager.EndPage, sortBy = Model.SortBy, categoryID = Model.CategoryID })" class="Pagedata-link"><i class="fa fa-angle-right"></i></a></li>
		}
	</ul><!-- /.flat-pagination -->
</div>*@

<div class="row">
	<div class="col-md-24 text-center" style="margin:auto">

		<nav aria-label="Page navigation example">
			<ul class="pagination">

				@if (Model.Pager.CurrentPage > 1)
				{
					<li class="page-item">
						<a class="page-link Pagedata-link" data-href="@Url.Action("FilterProducts", "Shop", new { pageNo = Model.Pager.CurrentPage - 1, sortBy = Model.SortBy, categoryID = Model.CategoryID })" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				}

				@for (int page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
				{
					string activeStyle = Model.Pager.CurrentPage == page ? "background-color: #f63440; color: #fff" : string.Empty;

					<li class="page-item"><a style="@activeStyle" class="Pagedata-link page-link" data-href="@Url.Action("FilterProducts", "Shop", new { pageNo = page, sortBy = Model.SortBy, categoryID = Model.CategoryID })">@page</a></li>

				}

				@if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
				{
					<li class="page-item">
						<a class="page-link Pagedata-link" data-href="@Url.Action("FilterProducts", "Shop", new { pageNo = Model.Pager.CurrentPage + 1, sortBy = Model.SortBy, categoryID = Model.CategoryID })" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				}
			</ul>
		</nav>

	</div>
</div>


		<input type="hidden" id="SortBy" value="@Model.SortBy" />

		<input type="hidden" id="CategoryID" value="@Model.CategoryID" />

		<input type="hidden" id="SearchTerm" value="@Model.SearchTerm" />



		<script>
			//$(".Pagedata-link").click(function myfunction() {
			//	var url = $(this).attr("data-href");
			//	if (url != "" || url != undefined) {
			//		GetData(url);
			//	}
			//	else {
			//		swal({
			//			title: "Warning",
			//			text: "Please fill the valid data in fields",
			//			icon: "warning",
			//			buttons: true,
			//			dangerMode: true,
			//		})
			//	}
			//});


			$(".Pagedata-link").click(function myfunction() {
				var url = $(this).attr("data-href");
				if (url != "" || url != undefined) {
					GetData(url);
				}
				else {
					swal({
						title: "Warning",
						text: "Please click the page number correctly",
						icon: "warning",
						buttons: true,
						dangerMode: true,
					})
				}
			});


			//var products;
			//$(".productAddToCart").click(function myfunction() {

			//	var existingCartProducts = $.cookie('CartProducts');

			//	if (existingCartProducts != null && existingCartProducts != "" && existingCartProducts != undefined) {
			//		products = existingCartProducts.split('-');
			//	}
			//	else {
			//		products = [];
			//	}

			//	var productID = $(this).attr("data-id");
			//	products.push(productID);

			//	$.cookie('CartProducts', products.join('-'), { path: '/' });
			//	updateCartProducts();
			//	swal("Done", "Product Added to Cart.", "success");


			//});






		</script>
