@model ProductsWidgetViewModels


@{
		var defaultImageURL = @"/Content/images/Default/DefaultImage.png";
		var wishproductIds = Model.WishedProductsIds;
	}

	@if (Model != null && Model.LatestProducts != null)
	{
		if (!Model.isLatestProducts)
		{
			if (!Model.categoryID.HasValue)
			{
		<ul class="flat-filter style-1 text-center max-width-682 clearfix">
			<li class="active"><a href="#" data-filter="*">All Product</a></li>
			@foreach (var product in Model.LatestProducts.Select(c=>c.Category).ToList().Distinct())
			{
				var name = product.Name;
				<li><a href="#" data-filter=".@name">For @name</a></li>
			}
		</ul>
		<div class="divider h54"></div>

	}
 }
		<div class="product-content product-fourcolumn clearfix">
			<ul class="product style2 isotope-product clearfix">
				@foreach (var product in Model.LatestProducts)
				{
						var name = product.Category.Name;
					
					if (wishproductIds != null && wishproductIds.Contains(product.ID))
					{
						<li data-id="Name" class="product-item @name">
							<div class="product-thumb clearfix">
								<a href="@Url.Action("Details","Product", new { Id = product.ID })" class="product-thumb">
									@{var image = product.Imagepath != null ? product.Imagepath : defaultImageURL;
									}
									<img src="@image" alt="image">
								</a>
								@if (Model.isLatestProducts)
								{
									<span class="new">New</span>
								}

							</div>

							<div class="product-info text-center clearfix">
								<span class="product-title">@product.Name</span>
								<div class="price">
									<ins>
										<span class="amount">$ @product.Price</span>
									</ins>
								</div>
							</div>
							<div class="add-to-cart text-center">
								<a class="productAddToCart" data-id="@product.ID">ADD TO CART</a>
							</div>
							<a class="like">
								<img src="/Content/images/Default/heart fill.png" height="30" width="30" class="addToWishlist" data-id="@product.ID" data-wish="true" />
							</a>

						</li>
					}
					else
					{
			<li data-id="Name" class="product-item @name">
				<div class="product-thumb clearfix">
					<a href="@Url.Action("Details","Product", new { Id = product.ID })" class="product-thumb">
						@{var image = product.Imagepath != null ? product.Imagepath : defaultImageURL;
						}
						<img src="@image" alt="image">
					</a>
					@if (Model.isLatestProducts)
					{
						<span class="new">New</span>
					}

				</div>

				<div class="product-info text-center clearfix">
					<span class="product-title">@product.Name</span>
					<div class="price">
						<ins>
							<span class="amount">$ @product.Price</span>
						</ins>
					</div>
				</div>
				<div class="add-to-cart text-center">
					<a class="productAddToCart" data-id="@product.ID">ADD TO CART</a>
				</div>
				<a class="like">
					<img src="/Content/images/Default/unfill heart.png" height="30" width="30" class="addToWishlist" data-id="@product.ID" data-wish="false" />
				</a>

			</li>
					}
				}
			</ul>
		</div>

@*<script>
	$(document).ready(function () {
		$("li[data-id|='Name']").attr('class').replace('&amp;', '&')
	}); 

</script>*@
}