@model ProductsWidgetViewModels


@{
	var defaultImageURL = @"/Content/images/Default/DefaultImage.png";
}

@if (Model != null && Model.LatestProducts != null)
{
	if (!Model.isLatestProducts)
	{
		if (!Model.categoryID.HasValue)
		{
		<ul class="flat-filter style-1 text-center max-width-682 clearfix">
			<li class="active"><a href="#" data-filter="*">All Product</a></li>
			@foreach (var product in Model.LatestProducts)
			{
				var name = product.Category.Name;
				<li><a href="#" data-filter=".@name">For @name</a></li>
			}
		</ul>
		<div class="divider h54"></div>

	}
 }
		<div class="product-content product-fourcolumn clearfix">
			<ul class="product style2 isotope-product clearfix">
				@foreach (var product in Model.LatestProducts)
				{
					var name = product.Category.Name;
					<li data-id="Name" class="product-item @name">
						<div class="product-thumb clearfix">
							<a href="@Url.Action("Details","Product", new { Id = product.ID })" class="product-thumb">
								@{var image = product.Imagepath != null ? product.Imagepath : defaultImageURL;
								}
								<img src="@image" alt="image">
							</a>
							@if (Model.isLatestProducts)
							{
								<span class="new">New</span>
							}

						</div>

						<div class="product-info text-center clearfix">
							<span class="product-title">@product.Name</span>
							<div class="price">
								<ins>
									<span class="amount">$ @product.Price</span>
								</ins>
							</div>
						</div>
						<div class="add-to-cart text-center">
							<a href="#">ADD TO CART</a>
						</div>
						<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
					</li>
				}
			</ul>
		</div>

@*<script>
	$(document).ready(function () {
		$("li[data-id|='Name']").attr('class').replace('&amp;', '&')
	}); 

</script>*@
}