@model List<Category>	
@{
	ViewBag.Title = "Create";

	var image = "/Content/images/Default/DefaultImage.png";
}

<h2>Create Product</h2>
<form id="createProductForm">
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<input class="form-control" name="Name" placeholder="Enter name" />
			</div>
			<div class="form-group">
				<select class="form-control" name="Category">
					<option value="No">Select Category name</option>
					@foreach (var category in Model)
					{
						<option value="@category.ID">@category.Name</option>
					}
				</select>
			</div>
			<div class="form-group">
				<input class="form-control" name="Description" placeholder="Enter Description" />
			</div>
			<div class="form-group">
				<input class="form-control" name="Price" placeholder="Enter Price" />
			</div>

			<div class="form-group">
				<label>Select Image</label>
				<input class="form-control" id="Imagepath" name="Imagepath" type="hidden" />
				<input class="form-control" id="imageUpload" name="Image" type="file" />
			</div>

			<button class="btn btn-primary" id="SaveBtn" type="button">Save</button>
			<button class="btn btn-primary" id="CancelBtn" type="button">Cancel</button>

		</div>
		<div class="col-md-4">
			<div class="thumb">
				<img src="@image" height="200" width="250" class="img-thumbnail img-fluid" id="image" />
			</div>
		</div>
	</div>
	
</form>

@*<form id="createProductForm">
	
	<label>Name</label>
	<input name="Name" />
	<br />
	<label>Category</label>
	<select class="form-control" name="Category">
		@foreach (var category in Model)
		{
			<option value="@category.ID">@category.Name</option>
		}
	</select>
	<br />

	<label>Description</label>
	<input class="form-control" name="Description" />
	<br />
	<label>Price</label>
	<input class="form-control" name="Price" />
	<br />

	<button class="btn btn-primary" id="SaveBtn" type="button">Save</button>

</form>*@


<script>

	$("#createProductForm").validate({
		rules: {
			Name: {
				required: true,
				minlength: 2,
				maxlength: 100
			},
			Description: {
				maxlength: 500	
			},
			Price: {
				required: true,
				range: [1,1000000]
			}
		},
		messages: {
			Name: {
				required: 'Name Field is required',
				minlength: 'Minimum Length is 2',
				maxlength: 'Maximum Length is 50'
			},
			Description: {
				maxlength: 'Maximum Length is 150'	
			},
			Price: {
				required: 'Price Field is required',
				range: 'Price must be in between 1 and 1000000'	
			}
	}
	})

	
	function hideLoader() {
		$(".loader").hide();
		$("#loading-overlay").hide('slow');
	};

	function showLoader() {
		$(".loader").show();
		$("#loading-overlay").show();
	};
	//

	function focusAction(DivToFocus) {
		$('html,body').animate({
			scrollTop: $("#" + DivToFocus).offset().top - 100
		}, 1000);
	}

	$("#imageUpload").change(function () {
		showLoader();
		var element = this;

		var formData = new FormData();

		var totalFiles = element.files.length;

		for (var i = 0; i < totalFiles; i++) {
			var file = element.files[i];
			formData.append("Photo", file);
		}

		$.ajax({
			type: 'POST',
			url: '@Url.Action("UploadImage","Shared")', //'/Shared/UploadImage',
			dataType: 'json',
			data: formData,
			contentType: false,
			processData: false
		})
			.done(function (response) {
				if (response.Success) {
					$("#image").attr("src", response.ImageURL);
					$("#Imagepath").val(response.ImageURL);
				}
			})
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				alert("Ajax Request Failed");
			})
			.always(function () {
					hideLoader();
				});
	});


	$("#SaveBtn").click(function myfunction() {

		if ($("#createProductForm").valid()) {
			showLoader();
			$.ajax({
				type: "Post",
				url: '@Url.Action("Create","Product")', //'/Product/Create',
				data: $("#createProductForm").serialize()

			})
				.done(function (response) {
					$("#tableContainer").html(response);
					$("#createProduct").html("");
					focusAction("tableContainer");
				})
				.fail(function (XMLHttpRequest, textStatus, errorThrown) {
					alert("Ajax Request Failed");
				})
				.always(function () {
					hideLoader();
				});
		}
		else {
	        swal({
			title: "Warning",
			text: "Please fill the valid data in fields",
			icon: "warning",
			 buttons: true,
			 dangerMode: true,
			})
		}
	});
	$("#CancelBtn").click(function myfunction() {
		$("#createProduct").html("");
		focusAction("tableContainer");
			
	});
</script>