
@model ProductDetailViewModel

@{
	ViewBag.Title = "Details";
	int counter = 1;
	int counter1 ;
}

@if (Model != null && Model.product != null)
{
	var imageChecked = Model.product.Imagepath != null ? Model.product.Imagepath : @"/Content/images/Default/DefaultImage.png";
	<!-- Page title -->
	<div class="page-title parallax parallax1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-title-heading">
						<h1 class="title">@Model.product.Name</h1>
					</div><!-- /.page-title-heading -->
					@*<div class="breadcrumbs">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="shop-3col.html">Shop</a></li>
								<li><a href="shop-detail-des.html">Products</a></li>
							</ul>
						</div> /.breadcrumbs*@
				</div><!-- /.col-md-12 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /.page-title -->

	<section class="flat-row main-shop shop-detail">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="wrap-flexslider">
						<div class="inner">
							<div class="flexslider style-1 has-relative">
								<ul class="slides">
									<li data-thumb="@imageChecked">
										<img src="@imageChecked" alt="Image">
										<div class="flat-icon style-1">
											<a href="@imageChecked" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
										</div>
									</li>
									@*<li data-thumb="images/shop/sh-detail/thumb-detail-02.jpg">
											<img src="images/shop/sh-detail/detail-01.jpg" alt="Image">
											<div class="flat-icon style-1">
												<a href="images/shop/sh-detail/detail-01.jpg" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
											</div>
										</li>
										<li data-thumb="images/shop/sh-detail/thumb-detail-03.jpg">
											<img src="images/shop/sh-detail/detail-01.jpg" alt="Image">
											<div class="flat-icon style-1">
												<a href="images/shop/sh-detail/detail-01.jpg" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
											</div>
										</li>
										<li data-thumb="images/shop/sh-detail/thumb-detail-04.jpg">
											<img src="images/shop/sh-detail/detail-01.jpg" alt="Image">
											<div class="flat-icon style-1">
												<a href="images/shop/sh-detail/detail-01.jpg" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
											</div>
										</li>*@
								</ul>
							</div><!-- /.flexslider -->
						</div>
					</div>
				</div><!-- /.col-md-6 -->

				<div class="col-md-6">
					<div class="product-detail">
						<div class="inner">
							<div class="content-detail">
								<h2 class="product-title">@Model.product.Name</h2>
								@*<div class="flat-star style-1">
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star-half-o"></i>
			<i class="fa fa-star-half-o"></i>
			<span>(1)</span>
		</div>*@
								<p>
									@Model.product.Description
								</p>
								<div class="price">
									<ins><span class="amount">$ @Model.product.Price </span></ins>
								</div>
								@*<div class="size">
			<span>Size:</span>
			<ul>
				<li><a href="#">L</a></li>
				<li><a href="#">M</a></li>
				<li><a href="#">S</a></li>
				<li><a href="#">XL</a></li>
				<li><a href="#">XXL</a></li>
				<li><a href="#">Over Size</a></li>
			</ul>
		</div>
		<div class="product-color">
			<span>Colors:</span>
			<ul class="flat-color-list">
				<li><a href="#" class="yellow"></a></li>
				<li><a href="#" class="pink"> </a></li>
				<li><a href="#" class="red"></a></li>
				<li><a href="#" class="black"></a></li>
				<li><a href="#" class="blue"></a></li>
				<li><a href="#" class="khaki"></a></li>
			</ul>
		</div>
		<ul class="product-infor style-1">
			<li><span>100% cotton</span></li>
			<li><span>6 months warranty</span></li>
			<li><span>High Quality</span></li>
		</ul>*@
								<div class="product-quantity">
									<div class="quantity">
										<input type="text" value="1" name="quantity-number" class="quantity-number" id="quantity" disabled>
										<span class="inc quantity-button">+</span>
										<span class="dec quantity-button">-</span>
									</div>

									<div class="add-to-cart text-center">
										<a class="productAddToCart" data-id="@Model.product.ID">ADD TO CART</a>
									</div>


								</div>

								<br />
								@if (Model.isWished)
								{

									<a class="like">
										<img src="/Content/images/Default/heart fill.png" height="30" width="30" class="addToWishlist" data-id="@Model.product.ID" data-wish="true" />
									</a>

								}
								else
								{
									<a class="like">
										<img src="/Content/images/Default/unfill heart.png" height="30" width="30" class="addToWishlist" data-id="@Model.product.ID" data-wish="false" />
									</a>
								}
								<div class="product-categories">
									<span>Categories: </span><a href="#">@Model.product.Category.Name</a>
								</div>
								@*<div class="product-tags">
			<span>Tags: </span><a href="#">Dress,</a> <a href="#">Fashion,</a> <a href="#">Furniture,</a> <a href="#">Lookbok</a>
		</div>*@
								<ul class="flat-socials">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div><!-- /.product-detail -->
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.flat-row -->
}

<section class="flat-row shop-detail-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="flat-tabs style-1 has-border">
					<div class="inner">
						<ul class="menu-tab">
							<li class="active">Ratings & Reviews</li>
						</ul>
						<div class="content-tab">
							<div class="content-inner">
								<div class="inner max-width-83 padding-top-33">

									<ol class="review-list">

										@foreach (var review in Model.product.Reviews)
										{
											//var name =helper.ReturnUserName(review.UserId);

											<li class="review">
												<div class="thumb">
													@for (counter1 = 0; counter1 < 1; counter1++)
													{
														var Image = Model.ReviewByImage.GetValue(counter1) != null ? Model.ReviewByImage.GetValue(counter1) : @"/Content/images/Default/DefaultImage.png";

														<img src="@Image" alt="User Image">
													}
												</div>
												<div class="text-wrap">
													<div class="review-meta">
														<h5 class="name">@Model.ReviewBy.GetValue(counter1-1)</h5>

													</div>
													<div id="@("review" + counter)" style="float: right;">
													</div>

													<script>
															$(function () {
																$("#@("review" + @counter)").rateYo({
																	rating: @review.Rating,
																	readOnly: true,
																	ratedFill: "#f63440"

																});

															});
													</script>


													<div class="review-text">
														<p>
															@review.Comment
														</p>
													</div>
												</div>
											</li><!--  /.review    -->
											counter += 1;
										}

									</ol><!-- /.review-list -->

										@if (User.Identity.IsAuthenticated)
										{
												<div class="comment-respond review-respond" id="respond">
													<div class="comment-reply-title margin-bottom-14">
														<h5>Write a review</h5>
													</div>
													<form id="reviewForm">
														<label>Rating<span id="rateYo"></span></label>

														<input type="hidden" name="Rating" id="Rating" value="" />
														<p class="comment-form-comment">
															<label>Review</label>
															<textarea class="" tabindex="4" name="Comment" required> </textarea>
														</p>
														<input type="hidden" name="productID" value="@Model.product.ID" />
														<p class="form-submit">
															<button type="button" id="saveReview">Submit</button>
														</p>
													</form>

												</div><!-- /.comment-respond -->
										}
									</div><!-- /.content-inner -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- /.shop-detail-content -->


<section class="flat-row shop-related">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-section margin-bottom-55">
					<h2 class="title">Related Products</h2>
				</div>
				@{
					Html.RenderAction("Products", "Widget", new { isLatestProducts = false, categoryID = Model.product.Category.ID });
				}
			</div>
		</div><!-- /.row -->
	</div>
</section>


<script>


	$("#saveReview").click(function myfunction(){
		$.ajax({
			url: '@Url.Action("AddReview","Shared")', // '/Product/ProductTable',
			data: $("#reviewForm").serialize()
		})
			.done(function (response) {

				if (response.Success) {
					swal({
						title: "Done",
						text: "Review Added Successfully.",
						icon: "success",
					})
						.then((willDelete) => {
							if (willDelete) {
								location.reload(true);
							}
						});
				}
			})
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("Ajax Request Failed");
        });
	});



	var products;
	$(".productAddToCart").click(function myfunction() {

		var existingCartProducts = $.cookie('CartProducts');
		var quantity = $("#quantity").val();

		if (existingCartProducts != null && existingCartProducts != "" && existingCartProducts != undefined) {
			products = existingCartProducts.split('-');
		}
		else {
			products = [];
		}

		var productID = $(this).attr("data-id");
		for (var i = 0; i < quantity; i++) {
			products.push(productID);
		}

		$.cookie('CartProducts', products.join('-'), { path: '/' });
		updateCartProducts();
		swal("Done", quantity, "success");
	});

	$(".addToWishlist").click(function () {

		var currentElement = this;

		if ($(this).attr("data-wish") == "true") {
			//console.log("AddToWihslist() Called");
			$.ajax({
				url: '@Url.Action("RemoveFromWishlist", "Shop")',
				data: {
					productID: $(this).attr("data-id")
				}
			})
				.done(function (response) {
					if (response.Success) {
						swal("Done", "Removed From your Wishlist.", "success");
						$(currentElement).attr("src", "/Content/images/Default/unfill heart.png");
						$(currentElement).attr("data-wish", "false");
					}
					else {
						swal("Error", "Unable to Add this product to your Wishlist.", "error");
					}
				})
				.fail(function (XMLHttpRequest, textStatus, errorThrown) {
					alert("Ajax Request Failed");
				});

		}
		else {

			$.ajax({
				url: '@Url.Action("SaveToWishlist", "Shop")',
				data: {
					productID: $(this).attr("data-id")
				}
			})
				.done(function (response) {
					if (response.Success) {
						swal("Done", "Add To Wishlist.", "success");
						$(currentElement).attr("src", "/Content/images/Default/heart fill.png");
						$(currentElement).attr("data-wish", "true");
					}
					else {
						swal("Error", "Unable to Add this product to your Wishlist.", "error");
					}
				})
				.fail(function (XMLHttpRequest, textStatus, errorThrown) {
					alert("Ajax Request Failed");
				});

		}
	});

</script>



