@model ApnaBazaar.Entities.Category
@{
	ViewBag.Title = "Create";

	var trueChecked = Model.IsFeatured ? "checked" : String.Empty;

	var falseChecked = !Model.IsFeatured ? "checked" : String.Empty;

	var imageChecked = Model.Imagepath != null ? Model.Imagepath : @"/Content/images/Default/DefaultImage.png";

}

<h2>Edit Category</h2>

<form id="editCategoryForm">
	<div class="row">
		<div class="col-md-8">
			<input type="hidden" name="ID" value=@Model.ID />
			<div class="form-group">
				<input class="form-control" name="Name" value="@Model.Name" placeholder="Enter Category Name here" />
			</div>
			<br />

			<div class="form-group">
				<input class="form-control" name="Description" value="@Model.Description" placeholder="Enter Category Name here" />
				<br />
			</div>
			<div class="form-group">

				<label>IsFeatured?</label>
				<input name="IsFeatured" type="radio" value="True" @trueChecked placeholder="IsFeatured?" /> True
				<input name="IsFeatured" type="radio" value="False" @falseChecked /> False
			</div>
			<br />
			<div class="form-group">
				<label>Select Image</label>
				<input class="form-control" id="Imagepath" name="Imagepath" type="hidden" />
				<input class="form-control" id="imageUpload" name="Image" type="file" />
			</div>
			<br />
		</div>
		<div class="col-md-4">
			<div class="thumb">
				<img src="@imageChecked" height="200" width="250" class="img-thumbnail img-fluid" id="image" />
			</div>
			<br />
		</div>
		<button id="EditBtn" type="button">Update</button>

		<button id="CancelBtn" type="button">Cancel</button>
	</div>
</form>

<script>

	$("#editCategoryForm").validate({
		rules: {
			Name: {
				required: true,
				minlength: 2,
				maxlength: 50
			},
			Description: {
				maxlength: 150	
			}
		},
		messages: {
			Name: {
				required: 'Name Field is required',
				minlength: 'Minimum Length is 2',
				maxlength: 'Maximum Length is 50'
			},
			Description: {
				maxlength: 'Maximum Length is 150'	
			}
	}
	})

	$("#imageUpload").change(function () {
		var element = this;

		var formData = new FormData();

		var totalFiles = element.files.length;

		for (var i = 0; i < totalFiles; i++) {
			var file = element.files[i];
			formData.append("Photo", file);
		}

		$.ajax({
			type: 'POST',
			url: '@Url.Action("UploadImage","Shared")', //'/Shared/UploadImage',
			dataType: 'json',
			data: formData,
			contentType: false,
			processData: false
		})
			.done(function (response) {
				if (response.Success) {
					$("#image").attr("src", response.ImageURL);
					$("#Imagepath").val(response.ImageURL);
				}
			})
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				alert("Ajax Request Failed");
			});
	});

	$("#EditBtn").click(function myfunction() {

		if ($("#editCategoryForm").valid()) {
		var x = $("#imageUpload").val();
		if (x == "") {
			var value = $("#image").attr("src");
				$("#Imagepath").val(value);
			}
		$.ajax({
			type: 'Post',
			url: '@Url.Action("Edit","Category")', //'/Category/Edit',
			data:	$("#editCategoryForm").serialize()

		})
			.done(function (response) {
				$("#tableContainer").html(response);
				$("#editCategoryForm").html("");
				focusAction("tableContainer");
			})
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				alert("Ajax Request Failed");
			});
			
		}
		else {
	        swal({
			title: "Warning",
			text: "Please fill the valid data in fields",
			icon: "warning",
			 buttons: true,
			 dangerMode: true,
			})
		}
	});

	$("#CancelBtn").click(function myfunction() {
		$("#editCategoryForm").html("");
		focusAction("tableContainer");			
	});

</script>



