@model SearchOrderViewModel

<form method="post">
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<label>Search</label>
				<input class="form-control" name="searchUserId" value="@Model.SearchUserID" />
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label>Action</label>
				<div class="row">
					<div class="col-md-5 pr-0">
						<button class="btn btn-primary form-control" type="submit">Search</button>
					</div>
					<div class="col-md-5 pr-0">
						<a class="btn btn-primary form-control" id="resetBtn" href="@Url.Action("OrderTable","Order")">Reset</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<table id="OrdersTable" class="table table-striped">
	<thead>
		<tr>
			<th class="font-weight-bold">UserID</th>
			<th class="font-weight-bold">Total Price</th>
			<th class="font-weight-bold">Status</th>
			<th class="font-weight-bold">Actions</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Orders != null && Model.Orders.Count > 0)
		{
			foreach (var order in Model.Orders)
			{
				<tr>
					<td>@order.UserId</td>
					<td>
						@order.TotalAmount
					</td>
					<td>@order.Status</td>
					<td>
						<a class="btn btn-primary" href="@Url.Action("Details","Order", new { orderID = order.Id })">Details</a>
					</td>

				</tr>
			}
		}
		else
		{
			<tr>
				<td class="text-danger" colspan="4">No Orders Found.</td>
			</tr>
		}
	</tbody>

</table>


<div class="row">
	<div class="col-md-24 text-center" style="margin:auto">

		<nav aria-label="Page navigation example">
			<ul class="pagination">

				@if (Model.Pager.CurrentPage > 1)
				{
					<li class="page-item">
						<a class="page-link Pagedata-link" data-href="@Url.Action("OrderTable", "Order", new { pageNo = Model.Pager.CurrentPage - 1, searchUserId = Model.SearchUserID })" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				}

				@for (int page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
				{
					string activeStyle = Model.Pager.CurrentPage == page ? "background-color: #f63440; color: #fff" : string.Empty;

					<li class="page-item"><a style="@activeStyle" class="Pagedata-link page-link" data-href="@Url.Action("OrderTable", "Order", new { pageNo = page, searchUserId = Model.SearchUserID })">@page</a></li>

				}

				@if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
				{
					<li class="page-item">
						<a class="page-link Pagedata-link" data-href="@Url.Action("OrderTable", "Order", new { pageNo = Model.Pager.CurrentPage + 1, searchUserId = Model.SearchUserID })" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				}
			</ul>
		</nav>

	</div>
</div>


<script>
	$(".Pagedata-link").click(function myfunction() {
		var url = $(this).attr("data-href");
		if (url != "" || url != undefined) {
			$.ajax({
				//url: '/Category/Create'
				url: url
			})
				.done(function (response) {
					$("#tableContainer").html(response);
					focusAction("tableContainer");
				})
				.fail(function (XMLHttpRequest, textStatus, errorThrown) {
					alert("Ajax Request Failed");
				});
		}
		else {
			swal({
				title: "Warning",
				text: "Please click the page number correctly",
				icon: "warning",
				buttons: true,
				dangerMode: true,
			})
		}
	});

	function focusAction(DivToFocus) {
		$('html,body').animate({
			scrollTop: $("#" + DivToFocus).offset().top - 100
		}, 1000);
	}
</script>

